
body {
    background-color: lightsteelblue;
}

header h1 {
    margin: 0;
}

.btn {
    margin-bottom: 25px;
}

#aboutUs {
    height: 100%;
}

footer {
    margin: 0;
}

.row {
    margin: 0;
}
