* {
    font-family: 'New Tegomin', serif;
}

body {
    background-color: #45577D;
    
}

header {
    background-color: #3b4a6b;
    height: 150px;
    display: flex;
    align-items: flex-start;
}

header h1 {
    flex: 1;
}

h1 {
    margin: 0;
    align-self: center;
    text-align: center;
}

#searchArea {
    background-color: #3b4a6b;
}

#aboutUs {
    background-color: #45577D;
}

.btn.btn-large.waves-effect.waves-light  {
    margin-bottom: 25px;
    background-color: #FC90A4;
    font-family: 'New Tegomin', serif;
}

/* .input-field {
    font-family: 'New Tegomin', serif;
} */

#aboutUs {
    height: 100%;
}

footer {
    margin: 0;
}

.row {
    margin: 0;
}

#travelResults {
    background-color: #3b4a6b;
}

#fluResults {
    background-color: #3b4a6b;
}

.page-footer {
    background-color: #FC90A4;
}

.card-panel {
    background-color: #3b4a6b;
}

.collapsible {
    border-width: 2px;
}

.collapsible-header {
    background-color: #45577D;
    color: #FC90A4;
}

.collapsible-body {
    background-color: white;
}

.carousel {
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    height: auto;
}

.carousel-item {
    background-color: #3b4a6b;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.carousel .indicators .indicator-item {
    background-color: #FC90A4;
}

/* #foodcontainer {
    height: auto;
} */